body, html {
    margin: 0px;
    width: 100%;
    height: 100%;
}

.title-description-container{
    height: 23.5rem;
    width: 27.5rem;
    margin: 3rem 3rem 0 6rem; 
    background-color: #F6F7F8;
}

.line{
    height: 26.5rem;
    width: 1px;
    margin: 3rem 0 0 0; 
    background-color: #D1D1D1;
}
.date-prio-container{
    height: 26rem;
    width: 27.5rem;
    margin: 3rem 0 0 3rem; 
    background-color: greenyellow;
}

.letter-star{
    color: #FF8190;
}

.container-title-inputfield{
    height: 6rem;
}

@font-face{
    font-family: "Inter";
    src: url("../fonts/Inter-VariableFont_slnt,wght.ttf") format("truetype");
    font-weight: 100 1000;
}

label{
    font-family: "Inter";
    font-weight: 400;
    font-size: 1.25rem;
    line-height: 1.5rem;
    margin-bottom: 0.5rem;
    color: #2A3647;
}

input{
    height: 3rem;
    border: 0.063rem solid #D1D1D1;
    border-radius: 0.625rem;
    background-color: #FFFFFF;
    font-family: "Inter";
    font-size: 1.25rem;
    line-height: 1.5rem;
    padding: 0 1.313rem; 
    color: #D1D1D1;
}

input::placeholder{
    color: #D1D1D1;
}


.container-description-inputfield{
    margin-top: 1rem;
    min-height: 10.5rem;
}

textarea{
    height: 4.75rem;
    border: 0.063rem solid #D1D1D1;
    border-radius: 0.625rem;
    background-color: #FFFFFF;
    font-family: "Inter";
    font-size: 1.25rem;
    line-height: 1.5rem;
    padding: 1.313rem 1.313rem; 
    color: #D1D1D1;
}

.container-assigned-optionfield{
    margin-top: 1rem;
}

select{
    height: 3rem;
    border: 0.063rem solid #D1D1D1;
    border-radius: 0.625rem;
    background-color: #FFFFFF;
    color: #000000;
    font-family: "Inter";
    font-size: 1.25rem;
    line-height: 1.5rem;
    padding: 0 1.313rem;  
    cursor: pointer;
}
