body {
    background-color: #f6f7f8;
    margin: 0px;
    width: 100%;
}

h1 {
    margin-block-start: 0.0em;
    margin-block-end: 0.0em;
    margin: 0px;
    font-family: "Inter";
    font-size: 3.813rem;
    font-weight: 700;
    color: #000000;
    gap: 1px;
}

p {
    margin-block-start: 0em;
    margin-block-end: 0em;   
}

h4{
    margin-block-start: 0em;
    margin-block-end: 0em;
}


.d_flex_column{
    height: 100%;
}

.main-container{
    display: flex;
    height: 100%;
    flex-direction: column;
}

.content_wrapper{
    margin-left: auto;
    margin-right: auto;
    width: 85%;
    max-width: 1440px;
    flex-direction: column;
    display: flex;
    height: 100%;
}

.add-task-button{
    height: 27px;
    align-items: center;
    user-select: none;
    cursor: pointer;
    font-weight: 600;
    font-size: 19px;
    border-radius: 8px;
    display: inline-flex;
    padding: 10px 20px;
    background-color: #2a3647;
    color: white;
    transition: transform 0.125s ease-in-out;
}

.add-task-button:hover{
    transform: scale(1.03);
    background-color: var(--join-blue);
    transition: transform 0.125s ease-in-out;
}

.add-task-button img{
    filter: brightness(900%);
    height: 19px;
    width: 19px;
    object-fit: contain;
    object-position: center;
    margin-left: 1rem;
}

.frow{
    display: flex;
    flex-direction: row;
}

.fs-between{
    display: flex;
    justify-content: space-between;
}

.column{
    margin-top: 75px;
    display: flex;
    width: 100%;
    max-width: 300px;
    min-width: 252px;
}

.column-wrapper{
    position: relative;
    width: 100%;
}


.task_wrapper{
    width: 100%;
    justify-content: center;
    display: flex;
    background-color: #f6f7f8;
    flex-wrap: wrap;
    gap: 5%;
    margin-bottom: 120px;
}

.no-card{
    display: none;
    width: calc(100% - 2px);
    position: absolute;
    user-select: none;
    cursor: pointer;
    font-weight: 300;
    justify-content: center;
    align-items: center;
    border: 1px dashed #a8a8a8;
    color: #a8a8a8;
    text-align: center;
    vertical-align: middle;
    border-radius: 10px;
    background-color: #e7e7e7;
    outline: 2px solid #e7e7e7;
    min-height: 3rem;
    transition: opacity 0.125s ease-in-out;
}

.card{
    width: 252px;
    position: relative;
    z-index: 50;
    cursor: grab;
    user-select: none;
    display: flex;
    flex-direction: column;
    padding: 1.25rem;
    border-radius: 16px;
    background-color: white;
    box-shadow: 0px 3px 8px rgba(100, 125, 175, 0.25);
    margin-bottom: 12px;
    transition: transform 0.125s ease-in-out;
}

.card:hover{
    transform:rotate(3deg);
    transition: transform 0.125s ease-in-out;
}

.card hr{
    margin-block-start: 1em;
    margin-block-end: -0.5em;
    width: 100%;
    height: 0.025rem;
    background-color: #d0d0d0;
    border: none;
    border-radius: 8px;
}

.board-buffer{
    background-color: #572222;
    flex: 1;
}

.category{
    height: 100%;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
    display: flex;
    flex-direction: row;
    color: white;
}

.exit_button-edit-task{
    user-select: none;
    padding:6px;
    cursor: pointer;
    width: 25px;
    height: 25px;
    border-radius: 50%;
}

.exit_button-edit-task:hover{
    background-color: #e2e2e2;
}

.tag{
    color:#fff;
    text-align: center;
    justify-content: center;
    margin: 4px 0px;
    font-weight: 400;
    user-select: none;
    display: inline-block;
    width: auto;
    padding: 0.25rem 0.75rem;
    border-radius: 6px;
}

.tag p{
 white-space: nowrap;
}



.blue{
    background-color: #3f65f0;
}

.turquoise{
    background-color: #1dd5ba;
}

.red{
    background-color: #e11b1b;
}

.yellow{
    background-color: #ffc803;
}

.pink{
    background-color: #e439c5;
}

.pruple{
    background-color: #7e0de1;
}

.green{
    background-color: #2dcd52;
}

.orange{
    background-color: #ff7417;
}

.grey{
    background-color: #4f4f4f;
}

.headline{
    margin: 1rem 0rem 0.5rem 0rem;
    font-weight: 600;
}

.content{
    color: #a8a8a8;
    font-weight: 200;
}
.subtask-bar{
    white-space: nowrap;
    align-items: center;
    margin-top: 1.5rem;
    display: flex;
    font-size: 0.8rem;
    width: 100%;
}
.bar{
    margin-right: 0.4rem;
    position: relative;
    background-color: #f4f4f4;
    width: 100%;
    height: 0.5rem;
    border-radius: 12px;
}

.progress-bar{
    margin-right: 0.4rem;
    position: absolute;
    background-color: #29abe2;
    height: 0.5rem;
    border-radius: 12px;
}



.footer-of-card{
    justify-content: space-between;
    margin-top: 1.5rem;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.search-exit-button{
    user-select: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size:19px;
    font-weight: 700;
    background-color: #2a3647;
    color: #fff;
    padding: 10px 20px;
    border-radius: 8px;
    transition: transform 0.125s ease-in-out;
}

.search-exit-button:hover{
    transform: scale(1.03);
    background-color: var(--join-blue);
    transition: transform 0.125s ease-in-out;
}

.search-exit-button img{
    filter: brightness(999%);
}


.avatar{
    margin: 0px -3px;
    user-select: none;
    border: 2px solid white;
    font-weight: 400;
    display: flex;
    border-radius: 50%;
    height: 32px;
    width: 33px;
    min-height: 32px;
    min-width: 33px;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 13px;
}

.search-column{
    margin-top: 60px;
    width: 100%;
    display: flex;
    align-items: center;

   }

.search-column img{
    margin-left: 10px;
    width: 28px;
    height: 28px;
    object-fit: contain;
}

#search-content{
    margin-top: 32px;
    justify-content: center;
    display: flex;
    gap: 5%;
    flex-wrap: wrap;
}

#search-content .card{
    cursor: pointer;
    width: 252px;
}


.submit-user-area{
    width: 80%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.priority img{
    width: 16px;
    height: 16px;
    object-fit: contain;
    object-position: center;
}

.first-tag{
    flex: 0;
}

.searchbar{
    margin-right: 2rem;
    background-color: #fff;
    height: 45px;
    align-items: center;
    border: 1px solid #a8a8a8;
    border-radius: 8px;
    display: inline-flex;
    background-color: #fff;
    padding: 1px;
}

.searchbar input{
    padding-left: 1rem;
    font-size: 20px;
    outline: none;
    border: none;
}

.middle_border{
    height: 30px;
    border-left: 1px solid #d1d1d1;
}

.searchbar img{
    user-select: none;
    margin: -3px 16px 0px 16px;
    padding: 6px 8px;
    height: 24px;
    border-radius: 50%;
    width: 20px;
    object-position: center;
    object-fit: contain;
    background-color: #fff;
}

.searchbar img:hover{
    background-color: #ebebeb;
    cursor: pointer;
}

.searchbar:active, .searchbar:focus, .searchbar:hover{
    border: 1px solid var(--join-blue);
}

.head_area{
    padding: 0px 12px 0px 12px;
    margin-top: 120px;
    justify-content: space-between;
    align-items: center;
    display: flex;
}

.head_area h1{
    margin: 0px;
}

.named-column{
    margin-top: 62px;
    user-select: none;
    height: 30px;
    position: relative;
    padding: 1rem 0;
    display: flex;
    align-items: center;
}


.blue_hover:hover{
    cursor: pointer;
    filter: invert(65%) sepia(69%) saturate(2888%) hue-rotate(165deg) brightness(94%) contrast(88%);
}

.column-wrapper h4{
    color: #42526e;
    font-size: 1.34rem;
}

#progress-content, #to-do-content, #feedback-content, #is-done-content{
    z-index: 0;
    margin-top: 2rem;
    position: relative;
}


.none-selectable{
    cursor: auto;
}

.show_dragzone::before{
    content: "Place your Card here.";
    font-size: 18px;
}

.show_dragzone{
    display: none;
    font-weight: 400;
    letter-spacing: -0.05rem;
    user-select: none;
    align-items: center;
    justify-content: center;
    width: 100%;
    color: #a8a8a8;
    border: 2px dashed #a8a8a8;
    border-radius: 12px;
    aspect-ratio: 1.5 / 1;
}

.show_dragzone:hover{
    color: #2a3647;
    border: 2px dashed #2a3647;
    transition: border 0.25s ease-in-out, color 0.25s ease-in-out;
}

.mobil_dragzon{
    display: none;
}

.class_show {
    display: inline-flex;
}

.addBlur {
    filter: blur(3px);
}

.boardBuffer{
    width: 100%;
    min-height: 230px;
}


.lightboxNav{
    display: flex;
    justify-content: flex-end;
}

.lightboxNav ul{
    max-width: 200px;
    margin-block-start: 0em;
    margin-block-end: 0em;
    padding-inline-start: 0px;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.lightboxNav li{
    cursor: pointer;
    user-select: none;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    vertical-align: middle;
}

.lightboxNav li:nth-child(2){
    position: relative;
}

.lightboxNav hr{
    min-width: 0.1rem;
    border: none;
    background-color:#a8a8a8;
    height: 30px;
}

.lightboxNav img{
    padding-right: 0.45rem;
    width: 20px;
    height: 20px;
    object-fit: contain;
    object-position: center;
    justify-content: flex-end;
}

.lightboxNav li:hover, .lightboxNav li:hover img{
    filter: invert(54%) sepia(23%) saturate(1495%) hue-rotate(153deg) brightness(103%) contrast(87%);
    color: var(--join-blue);
}

.LightboxContent-P{
    line-height: 24px;
    margin: 16px 0px;
    display: flex;
    align-items: center;
}

.LightboxContent-P span:nth-child(1){
    min-width: 5rem;
    padding-right: 16px;
     color:#42526e;
}

.LightboxContent-P img{
    user-select: none;
    margin-left: 8px;
    width: 18px;
    height: 18px;
    object-fit: contain;
    object-position: center;
}


.circle{
    user-select: none;
    font-weight: 300;
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    height: 32px;
    width: 32px;
    border-radius: 50%;
}

#cardLightboxContent{
    width: 100%;
    overflow-y: scroll;
    max-height: 90vh;
    margin-top: 0px;
}

#cardLightboxContent h6{
    user-select: none;
    font-weight: 400;
    font-size: 18px;
    color: #42526e;
    margin-block-end: 0;
    margin-block-start: 2.33em;

}

#cardLightboxContent ol{
    list-style: none;
    margin-block-start: 0px;
    margin-block-end: 0px;
    padding-inline-start: 0px;
    margin-top: 20px;
}



#cardLightboxContent li{
    border-radius: 8px;
    position: relative;
    padding: 5px 0px;
    padding-left: 20px;
    vertical-align: middle;
    align-items: center;
    margin-top: 5px;
    display: flex;
}


#cardLightboxContent li img{
    user-select: none;
}


#cardLightboxContent li p{
    margin-left: 12px;
}



.selectabale li:hover{
    cursor: pointer;
    color:#fff;
    background-color: var(--join-blue); 
}


.selectabale li:hover img{
    filter: brightness(999%);
}

.lightboxNav li{
    padding:0px !important;
    margin-right: 20px;
    margin-left: 20px;
}

.LightboxCards{
    max-width: 450px;
}

.addTransparent{
    opacity: 0.2;
    transition: opacity 0.25s ease-in;
}

.addTransparent:hover {
    opacity: 1;
    transition: opacity 0.25s ease-in;
}

/*  #############################
    #######  Responsive   #######
    #############################  */

@media (max-width:1918px){
    
    .no-card{
        margin-left: 25%;
        width: 50%;
    }

    .mobil_dragzon{
        user-select: none;
        text-align: center;
        justify-content: center;
        align-items: center;
        font-size: 24px;
        font-weight: 600;
        color: #fff;
        position:absolute;
        width:100%;
        height: calc(100% - 50px);
        top:108px;
        left: 0px;
        z-index: 50;
        background-color: rgba(13, 31, 60, 0.30);
        border-radius: 20px;
        border: 2px dashed #eeeeee;
        outline: 2px solid rgba(13, 31, 60, 0.30);
    }

    .task_wrapper{
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
    }


    #progress-content, #to-do-content, #feedback-content, #is-done-content{
        display: flex;
        flex-direction: row;
        overflow-x: scroll;
        overflow-y: hidden;
        height: 100%;
        min-height: 325px;
        align-items: center;
        margin-top: 0px;
    }


    .show_dragzone{
        display: none;
    }


    .show_dragzone::before{
        content: "";
    }

    .card {
        margin: 0px 16px;
    }
    
    .column-wrapper h4{
        font-size: 36px;
    }

    .column{
        max-width: 100%;
        margin-top: 0px;
    }
    
    .task_wrapper{
        padding-top: 200px;
        margin-top: 0px;
    }

    .named-column{
        display: flex;
        align-items: center;
        padding: 0;
    }

    .named-column img{
        width: 44px;
        height: 44px;
        object-position: center;
        object-fit: contain;
    }
}

@media (max-width:1200px){
    .head-merge {
        height: 73px;
        width: 100%;
        display: flex;
        flex-direction: column-reverse;  
    }

    .searchbar{
        top: 96px;
        position: absolute;
        width: 100%;

    }

    .searchbar input{
        width: 100%;
    }

    .head_area{
        padding: 0px;
        width: 100%;
        position: relative;
    }

    .head_area h1{
        position: absolute;
    }

    .add-task-button{
        justify-content: center;
        align-items: center;
        right: 0px;
        top: 10px;
        position: absolute;
        width: 16px;
        height: 32px;
    }

    .add-task-button span{
        display: none;
    }

    .search-exit-button span{
        display: none;
    }

    .search-exit-button img{
        width: 19px;
        height: 24px;
        padding: 5px 0px;
        margin: 0px;
    }

    .add-task-button img{
        margin: 0px;
    }

    .no-card{
        margin-left: 0%;
        width: calc(100% - 2px);
    }
}