body, html {
    margin: 0px;
    width: 100%;

}

h1 {
    margin-block-start: 0.0em;
    margin-block-end: 0.0em;
    margin: 0px
}
p {
    margin-block-start: 0em;
    margin-block-end: 0em;   
}

h4{
    margin-block-start: 0em;
    margin-block-end: 0em;
}


.d_flex_column{
    height: 100%;
}

.main-container{
    display: flex;
    height: 100%;
    flex-direction: column;
}

.content_wrapper{
    margin-left: auto;
    margin-right: auto;
    width: 85%;
    max-width: 1444px;
    flex-direction: column;
    display: flex;
    height: 100%;
}

.add-task-button{
    height: 27px;
    align-items: center;
    user-select: none;
    cursor: pointer;
    font-weight: 600;
    font-size: 19px;
    border-radius: 8px;
    display: inline-flex;
    padding: 10px 20px;
    background-color: #2a3647;
    color: white;
    transition: transform 0.125s ease-in-out;
}

.add-task-button:hover{
    transform: scale(1.03);
    background-color: var(--join-blue);
    transition: transform 0.125s ease-in-out;
}

.add-task-button img{
    filter: brightness(900%);
    height: 19px;
    width: 19px;
    object-fit: contain;
    object-position: center;
    margin-left: 1rem;
}

.frow{
    display: flex;
    flex-direction: row;
}

.fs-between{
    display: flex;
    justify-content: space-between;
}

.column{
    margin-top: 75px;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    max-width: 300px;
    min-width: 252px;
}

.column-wrapper{
    width: 100%;
}


.task_wrapper{
    width: 100%;
    justify-content: center;
    display: flex;
    background-color: #f6f7f8;
    flex-wrap: wrap;
    gap: 5%;
    margin-bottom: 120px;
}

.no-card{
    user-select: none;
    cursor: pointer;
    font-weight: 300;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px dashed #a8a8a8;
    color: #a8a8a8;
    text-align: center;
    vertical-align: middle;
    padding: 0rem 2rem 0rem 2rem;
    border-radius: 10px;
    background-color: #e7e7e7;
    outline: 2px solid #e7e7e7;
    min-height: 3rem;

}

.card{
    cursor: grab;
    user-select: none;
    display: flex;
    flex-direction: column;
    padding: 1.25rem;
    border-radius: 16px;
    background-color: white;
    box-shadow: 0px 3px 8px rgba(100, 125, 175, 0.25);
    margin-bottom: 12px;
    transition: transform 0.125s ease-in-out;
}

.card:hover{
    transform:rotate(3deg);
    transition: transform 0.125s ease-in-out;
}

.board-buffer{
    background-color: #572222;
    flex: 1;
}

.category{
    height: 100%;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
    display: flex;
    flex-direction: row;
    color: white;
}

.tag{
    text-align: center;
    display: flex;
    justify-content: center;
    margin: 4px;
    font-weight: 400;
    user-select: none;
    display: inline;
    width: auto;
    flex: 1;
    padding: 0.25rem 0.75rem;
    border-radius: 6px;
}

.tag p{
 white-space: nowrap;
}



.blue{
    background-color: #3f65f0;
}

.turquoise{
    background-color: #1dd5ba;
}

.red{
    background-color: #e11b1b;
}

.yellow{
    background-color: #ffc803;
}

.pink{
    background-color: #e439c5;
}

.pruple{
    background-color: #7e0de1;
}

.green{
    background-color: #2dcd52;
}

.orange{
    background-color: #ff7417;
}

.headline{
    margin: 1rem 0rem 0.5rem 0rem;
    font-weight: 600;
}

.content{
    color: #a8a8a8;
    font-weight: 200;
}
.subtask-bar{
    white-space: nowrap;
    align-items: center;
    margin-top: 1.5rem;
    display: flex;
    font-size: 0.8rem;
    width: 100%;
}
.bar{
    margin-right: 0.4rem;
    position: relative;
    background-color: #f4f4f4;
    width: 100%;
    height: 0.5rem;
    border-radius: 12px;
}

.progress-bar{
    margin-right: 0.4rem;
    position: absolute;
    background-color: #29abe2;
    height: 0.5rem;
    border-radius: 12px;
}



.footer-of-card{
justify-content: space-between;
margin-top: 1.5rem;
display: flex;
flex-direction: row;
align-items: center;
}


.avatar{
    margin: 0px -3px;
    user-select: none;
    border: 2px solid white;
    font-weight: 400;
    display: flex;
    border-radius: 50%;
    height: 32px;
    width: 33px;
    min-height: 32px;
    min-width: 33px;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 13px;
}


.submit-user-area{
    width: 80%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.priority img{
 width: 16px;
 height: 16px;
 object-fit: contain;
 object-position: center;
}

.first-tag{
 flex: 0;
}

.searchbar{
    margin-right: 2rem;
    background-color: #fff;
    height: 45px;
    align-items: center;
    border: 1px solid #a8a8a8;
    border-radius: 8px;
    display: inline-flex;
    background-color: #fff;
    padding: 1px;

}

.searchbar input{
    padding-left: 1rem;
    font-size: 20px;
    outline: none;
    border: none;
}

.middle_border{
    height: 30px;
    border-left: 1px solid #d1d1d1;
}

.searchbar img{
    margin: -3px 16px 0px 16px;
    padding: 6px 8px;
    height: 24px;
    border-radius: 50%;
    width: 20px;
    object-position: center;
    object-fit: contain;
    
}

.searchbar img:hover{
    background-color: #ebebeb;
}

.searchbar:active, .searchbar:focus, .searchbar:hover{
    border: 1px solid var(--join-blue);
}

.head_area{
    padding: 0px 12px 0px 12px;
    margin-top: 120px;
    justify-content: space-between;
    align-items: center;
    display: flex;
}

.named-column:hover{
    user-select: none;
    cursor: pointer;
}

.named-column:hover img{
    filter: invert(65%) sepia(69%) saturate(2888%) hue-rotate(165deg) brightness(94%) contrast(88%);
}

.column-wrapper h4{
    color: #42526e;
    font-size: 1.34rem;
}

#progress-content, #to-do-content, #feedback-content, #is-done-content{
    margin-top: 2rem;
}

.none-selectable{
    cursor: auto;
}

@media (max-width:1124px){
    .head-merge {
        height: 73px;
        width: 100%;
        display: flex;
        flex-direction: column-reverse;
        
    }
    .searchbar{
        top: 96px;
        position: absolute;
        width: 100%;
    }


    .searchbar input{
        width: 100%;
    }

    .head_area{
        padding: 0px;
        width: 100%;
        position: relative;
    }

    .head_area h1{
        position: absolute;
    }

    .add-task-button{
        justify-content: center;
        align-items: center;
        right: 0px;
        top: 10px;
        position: absolute;
        width: 16px;
        height: 32px;
    }

    .add-task-button span{
        display: none;
    }

    .add-task-button img{
        margin: 0px;
    }

    
    .column-wrapper h4{
        font-size: 36px;
    }

    .column{
        max-width: 100%;
    }
    
    .task_wrapper{
        margin-top: 60px;
    }

    .named-column{
        display: flex;
        align-items: center;
    }

    .named-column img{
        width: 44px;
        height: 44px;
        object-position: center;
        object-fit: contain;
    }

}
