::-webkit-scrollbar-thumb {
  background: #2a3647; 
  border-radius: 12px;
  position: relative;
  border: 2px solid #d1d1d1;
}
  
::-webkit-scrollbar-thumb:hover {
  background: var(--join-blue); 
}
  
::-webkit-scrollbar {
    width: 17px;
}
  
::-webkit-scrollbar-track {
    border-left: 1px solid #a8a8a8;
    background: #d1d1d1; 
}

.lightbox_wrapper::-webkit-scrollbar-track{
  border-left: none;
  width: 100px;
  background: none; 
}

.lightbox_wrapper::-webkit-scrollbar {
  margin-right: 20px;
  width: 19px;
}

.lightbox_wrapper::-webkit-scrollbar-thumb {
  background: #2a3647; 
  border-radius: 12px;
  position: relative;
  border:2px  solid #fff;
}

.lightbox_wrapper::-webkit-scrollbar-thumb:hover {
  background: var(--join-blue); 
}

#cardLightboxContent::-webkit-scrollbar,.lightbox::-webkit-scrollbar, #progress-content::-webkit-scrollbar, #to-do-content::-webkit-scrollbar, #feedback-content::-webkit-scrollbar, #is-done-content::-webkit-scrollbar{
 display: none;
 -ms-overflow-style: none;
 scrollbar-width: none; 
}

