
  <div class="position-header">
      <div class="d_flex_column">
        <section class="main-container">
          <div class="d_flex_column"> 
            <h1>Add Task</h1>
            <div class="d_flexdirection_r">
              <div class="title-description-container">
                <form>
                  <div class="d_flex_column">
                    <div class="container-title-inputfield d_flex_column">
                      <label for="ltitlename">Title<span class="letter-star">*</span></label> 
                      <input id="ltitlename" lang="en" name="ltitlename" type="text" placeholder="Enter a title" required />
                    </div>
                  <div class="container-description-inputfield d_flex_column">
                    <label for="ldescriptionname">Description</label> 
                    <textarea id="ldescriptionname" name="ldescriptionname" placeholder="Enter a Description"></textarea>
                  </div>  
                    <div class="container-assigned-optionfield d_flex_column">
                      <label for="lassignedname">Assigned to</label>
                      <select id="lassignedname" required>
                        <option value="Select contacts to assign" disabled selected>Select contacts to assign</option>
                        <option value="">Jason Bourne</option>
                        <option value="">Dwayne Johnson</option>
                        <option value="">Jason Statham</option>
                      </select>
                    </div>
                  </div>
              </div>
              <div class="line"></div>
              <div class="date-prio-container">
                <div class="d_flex_column">
                  <div class="due-date-container d_flex_column">
                    <label for="ldatename">Due date<span class="letter-star">*</span></label> 
                    <input type="date" lang="en" id="ldatename" name="ldatename" />
                  </div>
                  <div class="prio-container d_flex_column">
                    <label for="lprioname">Prio</label>
                    <div class="d_flexdirection_r d_flex_c_sb">
                      <div class="prio-button d_flex_c_c "  id="urgentButton" onclick="pressUrgentButton()">Urgent
                        <img class="dimension-prio-icon" id="urgentButtonImage"src="../img/icons/urgent-icon.svg"></img>
                      </div>                     
                      <div class="prio-button d_flex_c_c"  id="mediumButton" onclick="pressMediumButton()">Medium
                        <img class="dimension-prio-icon" id="mediumButtonImage" src="../img/icons/medium-icon.svg"></img>
                      </div>
                      <div class="prio-button d_flex_c_c"  id="lowButton" onclick="pressLowButton()">Low
                        <img class="dimension-prio-icon" id="lowButtonImage" src="../img/icons/low-icon.svg"></img>
                      </div>
                    </div>  
                  </div>
                  <div class="category-container d_flex_column">
                    <label for="lcategoryname">Category<span class="letter-star">*</span></label>          
                    <select id="lcategoryname">
                      <option value="Select task category" disabled selected>Select task category</option>
                      <option value="technicalTask">Technical Task</option>
                      <option value="userStory">User Story</option>
                    </select>
                  </div>
                  <div class="subtask-container d_flex_column">
                    <label for="lsubtaskname">Subtask</label> 
                    <div id="subTaskInputField" class="">  
                        <input type="text" id="lsubtaskname" name="ltextname" placeholder="Add new subtask" disabled required />
                        <div id="subTaskInputFieldButtonArea">
                            <div id="addButton"><img id="addButtonIcon"src="../img/icons/SubtasksIconAdd.svg" onclick="pressAddSubtaskButton()"></div>
                            <div class="noDisplay" id="CancelAndOkButtonArea">
                                <div id="cancelButton" class="noDisplay"><img onclick="pressCancelSubtaskButton()" class="noDisplay" id="cancelIcon" src="../img/icons/close-icon-addtask.svg"></div>
                                <div id="okButton" class = "noDisplay"><img onclick="pressConfirmSubtaskButton()" class ="noDisplay" id="checkIcon" src="../img/icons/check-icon-adTask_black.svg"></div>
                            </div>
                        </div>
                    </div>  
                  </div>     
                </div>    
                  </div>
              </div>   
              <div id="subtaskRenderArea">
                <ul id="subtaskRenderAreaList">

                </ul>
              </div>           
              <div class="button-container">
              <div class="textfield"><span class="letter-star">*</span>This field is required</div>
              <div class="distance-buttons">
                <button class="button-clear d_flex_c_c"  onclick="clearForm()"><span class="clear">Clear</span>
                  <img class="dimension-close-icon" src="../img/icons/close-icon-addtask.svg"></img>
                </button>
                <button class="button-createtask d_flex_c_c" onclick="submitTask()" ><span class="createtask">Create Task</span>
                  <img class="dimension-createtask-icon" src="../img/icons/check-icon-addtask.svg"></img>
                </button>
              </div>               
            </div>
              </form>
          </div>          
        </section>
      </div>
  </div>