<aside id="navigation">
    <a class="logo" href="../index.html"><div><img src="../img/logo.png"></div></a>
    <nav class="navi_sidebar">
        <ul>
           <a class="hover-scale" href="../pages/summary.html"><li><img src="../img/icons/icon-sidebar-summary.svg">Summary</li></a>
           <a class="hover-scale" href="../pages/addTaskPage.html"><li><img src="../img/icons/icon-sidebar-addtask.svg">Add Task</li></a>
           <a class="hover-scale" href="../pages/board.html"><li><img src="../img/icons/icon-sidebar-board.svg">Board</li></a>
           <a class="hover-scale" href="../pages/contactsPage.html"><li><img src="../img/icons/icon-sidebar-contacts.svg">Contacts</li></a>
        </ul>
    </nav>
    <div class="buffer"></div>
    <nav class="navi_sidebar navi_sidebar_bottom">
        <ul>
            <a href="./privacy.html" onclick="disabledNavbar()"><li>Privacy Policy</li></a>
            <a href="./legal.html" onclick="disabledNavbar()"><li>Legal notice</li></a>
         </ul>
    </nav>
</aside>