    <div class="frow facenter fs-between padding-top"><div class="tag blue">User Story</div><div class="exit_button-edit-task" onclick='hide_blackbox()'><img src="../img/icons/close-icon-addtask_dark.svg"></div></div>
    <h1>Story Book I Haru</h1>
    <p class="LightboxContent-P">Write more about Haru Featherflame and her destiny and ambition</p>
    <p class="LightboxContent-P"><span>Due date:</span><span>10/05/2024</span></p>
    <p class="LightboxContent-P"><span>Priority:</span><span></span>Urgent <img src="../img/icons/urgent-icon.svg"></span></p>
    <h6>Assign To:</h6>
    <ol id="cardLightboxUser">
        <li><div class="circle red">HF</div><p>Haru Featherflame</p></li>
        <li><div class="circle pruple">NP</div><p>Neraphine Perishwhite</p></li>
        <li><div class="circle green">H</div><p>Old man called Herb</p></li>
        <li><div class="circle orange">KS</div><p>Kingdom Sun-Imperia</p></li>
    </ol>
    <h6>Subtaks:</h6>
    <ol id="cardLightboxSubtask" class="selectabale">
        <li><img src="../img/icons/check-button-mobile-check.svg"><p>Write something about Antagonist - Neraphine Perishwhite</p></li>
        <li><img src="../img/icons/check-button-mobile-uncheck.svg"><p>Write about Hero Haru</p></li>
        <li><img src="../img/icons/check-button-mobile-uncheck.svg"><p>Write about the old man called Herb</p></li>
        <li><img src="../img/icons/check-button-mobile-uncheck.svg"><p>Write about Kingdom Sun-Imperia</p></li>
        <li><img src="../img/icons/check-button-mobile-uncheck.svg"><p>Write about Kingdom Sun-Imperia</p></li>
    </ol>
    <nav class="lightboxNav">
        <ul>
            <li>Delete<img src="../img/icons/delete.svg"></li>
            <hr>
            <li>Edit<img src="../img/icons/edit-black.svg"></li>
        </ul>
    </nav>




